.jumbotron{
	background-color: #F6CED8;
	color: black;
	margin-top: 50px;
}

.button{
	background-color: green;
}
	
footer {
	padding: 10px 10px 0 10px;
	background-color: #E6E6E6;
	margin-bottom:0px;
	margin-top: 10px;
}

.card-camper{

flex:1 200px;
/* padding: 2px 0px 2px 0px;*/
margin-top: 10px;
}

.btn-ver {
	width:100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;

 }